@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.add-note {
    width: 500px;
    background-color: #fff;
    box-shadow: 0 0 20px #999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    border-radius: 15px;
}

.content1 {
    height: 300px;
}

#container {
    display: flex;
    margin: 0 auto;
}

.note {
    display: flex;
    margin: 20px;
    flex-direction: column;
    width: 300px;
    min-height: 400px;
    padding: 25px;
    text-align: justify;
    background-color: #f8f8f8;
    box-shadow: 10px 10px 10px rgba(0, 0, 0 ,0.389);
    border-radius: 15px;
}

.note h4 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    position: relative;
}

.note h4::before {
    content: '';
    position: absolute;
    height: 2px;
    width: 40px;
    background-color: #06d62e;
    bottom: 0.5px;
    border-radius: 100px;
}

.note-text {
    overflow-inline: clip;
}

.note-text:hover {
    overflow-inline: visible;
    word-break: break-all;
}

.delete-button {
    width: 200px;
    margin-left: 20px;
}